name: CALLS ANOTHER WORKFLOW

on:
  workflow_dispatch:

 
    inputs:
      HELM_CHART_VERSION:
        description: 'Version of the service to deploy - must match Helm chart version in Nexus (example: 1.0.0)'
        required: true
        type: string
      ENVIRONMENT:
        type: choice
        description: "Short name of environment to deploy to (e.g. assembly, funct, etc.)\n - assembly: Assembly env \n - funct: Functional env \n - integ: Integration env /n - migrate: Data Migration env /n - perf: Performance env /n - lab: Lab env /n - lab-dr: lab DR"
        options:
        - assembly
        - funct
        - integ
        - migrate
        - perf
        - lab
        - lab-dr
        - uat
        - stage
        - prod2
        

jobs:

  call_another_workflow:
        uses:  ./.github/workflows/deploy_generated_dynamicentity_json.yml 
        with:
          ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
          HELM_CHART_VERSION: ${{ inputs.HELM_CHART_VERSION }}
