name: Run Commands in Multiple Containers

on:
  workflow_dispatch:
  
env:
  AWS_REGION: us-east-1
  MAVEN_CACHE_DIR: /maven-cache/.m2
  ECR_REGISTRY: 661604053278.dkr.ecr.us-east-1.amazonaws.com

jobs:
  run-commands:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Pull and tag Containers
        run: |
          docker pull ${{ env.ECR_REGISTRY }}/wwex:builder-latest 
          docker pull ${{ env.ECR_REGISTRY }}/wwex:sonar-latest
          docker tag ${{ env.ECR_REGISTRY }}/wwex:builder-latest builder-cli
          docker tag ${{ env.ECR_REGISTRY }}/wwex:sonar-latest sonar-cli
          
      - name: Run Containers
        run: |
          docker images
          docker run -d -t --name builder-cli -v ${{ github.workspace }}:/workspace builder-cli
          docker run -d -t --name sonar-cli -v ${{ github.workspace }}:/workspace sonar-cli
      - name: Run Commands Inside Container 1
        run: |
          docker exec builder-cli bash -c "echo Running inside builder-cli && ls /workspace"

      - name: Run Commands Inside Container 2
        run: |
          docker exec sonar-cli bash -c "echo Running inside sonar-cli && ls /workspace"

      - name: Run Commands Outside Containers
        run: |
          echo "This is running outside any container"
          ls ${{ github.workspace }}
