name: Show Information GH vars

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: Select the environment
      # Then available as github.event.inputs.environment

env:
  BRANCH = ${{ github.ref_name }}
  ENVIRONMENT =  ${{ github.event.inputs.environment }}
  ENVIRONMENT_WWEX = $ENVIRONMENT-ss
  ENVIRONMENT_UNI = $ENVIRONMENT-uni
  EMAIL_RECIPIENTS = 20fb4043.wwex.support@amer.teams.ms
        
jobs:
  run-commands:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: show env vars
        run: |
          echo "BRANCH: $BRANCH   ;   ENVIRONMENT: $ENVIRONMENT; ENVIRONMENT_WWEX: $ENVIRONMENT_WWEX ; EMAIL_RECIPIENTS: $EMAIL_RECIPIENTS"
